<div style="background-color: #FFFFFF;min-height:91vh;">

    <div style="padding-top: 10px;"></div>

    <nz-card *ngIf="analytics" style="width: 50%; text-align:center;margin: auto;">
        <div nz-card-grid [ngStyle]="gridStyle">
            <h3>Total Posted Cars</h3>
            <h1>{{analytics.totalCars}}</h1>

        </div>
        <div nz-card-grid [ngStyle]="gridStyle">
            <h3>Total Sold Cars</h3>
            <h1>{{analytics.soldCars}}</h1>

        </div>

    </nz-card>

    <div style="margin-top: 10px;" class="child" *ngFor="let car of cars">
        <div nz-row>
            <div nz-col nzSpan="8">
                <img class="profile" alt="profile" style="height:130px ; width: 200px;border-radius: 10px;"[src]="'data:image/jpeg;base64,'+car.returnedImg">
            </div>
                     
            <div nz-col nzSpan="16">
                <h2 style="cursor:pointer;color:#108ee9;">
                    {{car.brand}}-{{car.name}}
                </h2>
                <p>{{car.description}}</p>

                <hr>
                <h5>
                    Price:<b>${{car.price}}</b> -Color:<b>{{car.color}} </b> -Transmission:
                    <b> {{car.transmission}} </b> -Type:<b>{{car.type}}</b> -Year:<b>{{car.year |date:'yyyy'}}</b>
                </h5>
                <div style="float:right;">
                    <button nzSize="small" *ngIf="!car.sold" nz-button nzType="primary" routerLink="/customer/car/{{car.id}}/book">Bid</button>
                    <button nzSize="small" *ngIf="car.sold" nzDanger style="margin-left: 5px;" nz-button nzType="primary"><span nz-icon nzType="check-circle" nzTheme="outline"></span>Sold</button>

                </div>

              
            </div>
        </div>


    </div>

</div>