<div class="bg" style="background-color:#ffffff;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
        <div class="parent">
            <div class="child">
                <div nz-row class="imgDiv">
                    <div nz-col nzSpan="24">
                        <h1 style="margin-left:80px;">Login</h1>
                    </div>

                </div>
                <form nz-form [formGroup]="loginForm">
                    

                    <nz-form-item>
                        <nz-form-control nzHasFeedback nzErrorTip="The input is not valid E-mail!">
                            <input nz-input placeholder="E-mail" id="email" formControlName="email"/>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="errorPass">
                            <input nz-input placeholder="Password" type="password" id="password" formControlName="password"/>
                            <ng-template #errorPass let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Password Is Required!

                                </ng-container>
                                <ng-container *ngIf="control.hasError('pattern')">
                                    Password Should Contains 8 Charcters ,1 Lowercase,1 Uppercase,1 Number and 1 Special Character

                                </ng-container>


                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                   


                </form>
                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="login()"> Login</button>
                Or<a routerLink="/register"> Resgister now!</a>

            </div>



        </div>
    </nz-spin>

</div>